*.bin
*.rom
.idea
__pycache__
backgrounds
backgroundimages
bin
obj
src/data/adrive/obj
src/data/adrive/obj
src/data/buildfs.py
src/data/cache.json
src/data/fs
src/data/fs.bin
src/data/fs_compressed.bin
src/data/fs_updates.asm
src/data/main.asm
src/data/properties.json
src/data/srcfs
src/data/temp
src/data/updates.asm
src/os
src/os.inc
src/data/adrive/src/fs/include
src/data/adrive/src/fs/bin/include
src/data/adrive/src/fs/lib/include
tests
