.github
.idea
.vscode
__pycache__
backgroundimages
backgrounds
bin
obj
src/data/adrive/obj
src/data/adrive/data.bin
src/data/adrive/main.bin
src/data/adrive/osrt.tmp
src/data/adrive/osrt.inc
src/data/adrive/src/include
src/data/adrive/src/fs/include
src/data/adrive/src/fs/bin/include
src/data/adrive/src/fs/lib/include
src/data/adrive/src/fs/bin/msd/bosbin
src/data/adrive/src/fs/bin/msd/bosobj
src/data/adrive/src/fs/bin/cedit/bosbin
src/data/adrive/src/fs/bin/cedit/bosobj
src/data/adrive/src/fs/bin/cedit/bin
src/data/adrive/src/fs/bin/cedit/obj
src/data/buildfs.py
src/data/cache.json
src/data/fs
src/data/fs.bin
src/data/fs_compressed.bin
src/data/fs_updates.asm
src/data/main.asm
src/data/properties.json
src/data/srcfs
src/data/temp
src/data/updates.asm
src/os
src/os.inc
tests