/bin
/.idea
/__pycache__
/obj
/src/threading/
/src/threading.inc
/src/include/threading.inc
/src/data/adrive/src/fs/bin/include/threading.inc
*.rom
*.bin
*__pycache__*
/src/data/fs
/src/data/srcfs
/src/data/temp
/src/data/buildfs.py
/src/data/cache.json
/src/data/fs.bin
/src/data/fs_compressed.bin
/src/data/properties.json
/src/data/adrive/obj
