
body{
	color: white;
	background-color: black;
	text-align: center;
}
th,tr,td{
	border-left: 1px solid white;
	border-top: 1px solid white;
}
th,td{
	width: 20%;
}
table{
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	position: relative;
	left: 2%;
	width: 96%;
}
.no_op{
	color: #C02020;
}
.assembly{
	color: #4F1;
	background-color: #111;
	border: 1px dotted black;
	padding-left: 45%;
	text-align: left;
}
.stupid_tabs{
	color: #111;
	font-size: 2.5;
}
